body{
    background-color: #fff !important;
}
.dashboard-container{
   width: 100%;
   background-color: #fff;
   height: 100%;
}
.month-calender{
    width: 1024px;
    margin: 10px auto;
    border: 1px solid #ccc;
    height: auto;
    box-sizing: border-box;
}

.one-seventh{
    float: left;
    width: 14.28%;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    text-align: center;
    box-sizing: border-box;
}
.weekday{
    padding: 10px 5px;
    background-color: #ccc;
}
.day{
    padding: 5px;
    cursor: pointer;
    min-height: 150px;
    text-align: left;
}
.one-seventh.day:nth-child(7n-6) {
    border-left: 1px solid #333;
}
.calendar-header{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.calendar-container{
    margin: 10px 0;
}
.has-event:before{
    background-color: lightblue;
    width: 13px;
    height: 13px;
    content: "";
    border: 1px solid lightblue;
    border-radius: 50%;
    display: inline-block;
}
.has-event span.event{
    display: block;
    margin-bottom: 3px;
    border: 1px solid #333;
    background: lightblue;
    color: #333333;
}