
.main-navigation{
  width: 100%;
  height: auto;
}
.nav-header{
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  background: #e00087;
  padding: 0;
}
.nav-header li{
  display: inline-block;
  border-right: 1px solid #333;
}
.nav-header li a{
  display: inline-block;
  padding: 15px 10px;
  color: #ffffff;
  text-decoration: none;
}